<div class="game-create-view">
	<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">

		<div class="media">
			<a class="pull-left" href="/player/{{ AuthenticationService.player.id }}">
				<img class="media-object img-circle" ng-src="{{ AuthenticationService.player.imageUrl }}" width="45" height="45">
			</a>
			<div class="pull-right">
				<button class="btn btn-lg btn-success" ng-click="create(game)" ng-class="{ 'disabled': !isFormValid }">Start</button>
			</div>
			<div class="media-body">
				<h4 class="media-heading">{{ AuthenticationService.player.name }}</h4>
				<p class="text-muted">{{ AuthenticationService.player.location }}</p>
			</div>
		</div>

		<div class="well well-sm">
			<nav class="navbar navbar-inverse navbar-static navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					<li ng-repeat="tab in tabs" ng-class="{ active: activeTab == $index }">
						<a href="" ng-click="setActiveTab($index)">
							<i ng-repeat="icon in tab.icons" class="fa fa-lg {{ icon }}"></i>
							{{ tab.label }}
						</a>
					</li>
				</ul>
			</nav>

			<div ng-switch on="activeTab">
				<div ng-switch-when="0">
					<textarea class="form-control" rows="3" placeholder="Tell them about this game!" maxlength="180" ng-model="game.description" focus="activeTab == 0"></textarea>
				</div>
				<div ng-switch-when="1">
					<div class="text-center">
						<div class="btn-group">
							<button class="btn btn-info" ng-click="game.gender = 'M'" ng-class="{ active: game.gender == 'M' }">Male</button>
							<button class="btn btn-info" ng-click="game.gender = 'F'" ng-class="{ active: game.gender == 'F' }">Female</button>
							<button class="btn btn-info" ng-click="game.gender = 'X'" ng-class="{ active: game.gender == 'X' }">Mixed</button>
						</div>
					</div>
				</div>
				<div ng-switch-when="2">
					<p class="text-center">{{ game.venue.name | denoteNull: 'Venue':'Select one of the available venues.' }}</p>

					<map center-coordinates="currentCoordinates" show-center-marker="false" zoom="11" markers="VenueService.venues" marker-click="setVenue(marker)"></map>
				</div>
				<div ng-switch-when="3">
					<div class="row">
						<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input type="number" ng-model="game.price" class="form-control text-right">
								<span class="input-group-addon">.00</span>
							</div>
						</div>

						<div class="col-lg-3 col-label">
							<p>Price per person.</p>
						</div>
						
					</div>
				</div>
				<div ng-switch-when="4">
					<div class="row">
						<div class="col-lg-4 col-lg-offset-4">
							<div datetimepicker ng-model="game.when" datetimepicker-config="{ startView: 'day', minView: 'minute' }"></div>
						</div>
					</div>
				</div>
				<div ng-switch-when="5" class="text-center">
					<div class="btn-group">
						<button class="btn btn-info" ng-click="game.maxPlayers = 10" ng-class="{ active: game.maxPlayers == 10 }">5v5</button>
						<button class="btn btn-info" ng-click="game.maxPlayers = 14" ng-class="{ active: game.maxPlayers == 14 }">7v7</button>
						<button class="btn btn-info" ng-click="game.maxPlayers = 22" ng-class="{ active: game.maxPlayers == 22 }">11v11</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
