<div class="auth-view main-background">
	<div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
		<form novalidation ng-submit="signIn(email, password)" role="form">
			<div class="form-group">
				<label for="inputEmail">Email address</label>
				<input type="text" id="inputEmail" class="form-control" placeholder="Email address" ng-model="email">
			</div>
			
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="password">
			</div>
			
			<div class="form-group">
				<button type="submit" class="btn btn-lg btn-primary">Sign in</button>
			</div>

			<div ng-show="AuthenticationService.errorMessage" class="alert alert-danger">
				{{AuthenticationService.errorMessage}}
			</div>
		</form>

		<p class="lead">Or sign in with</p>
		<div class="btn-group">
			<button class="btn btn-info" ng-click="signInFacebookRequestToken()">Facebook</button>
			<button class="btn btn-info" ng-click="signInTwitterRequestToken()">Twitter</button>
			<button class="btn btn-info" ng-click="">Google+</button>
		</div>
	</div>
</div>