<div class="panel panel-default">
	<div class="panel-body media">
		<div class="pull-left">
			<a href="#/player/{{ card.id }}">
				<img class="img-circle" ng-src="{{ card.imageUrl }}" width="65" height="65">
			</a>
		</div>

		<div class="media-body">
			<h5 class="media-heading"><strong>{{ card.name }}</strong></h5>
			<p class="text-muted">@{{ card.username }}</p>
			<p>{{ card.location }} - {{ card.distance | distance }}</p>
			<p>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-o"></i>
			</p>
		</div>
	</div>
</div>