<div class="media" ng-controller="MatchCtrl">
	<div class="col-md-12">
		
	<div class="pull-left">
		<a href="#/player/{{ card.id }}">
			<img class="img-circle player-lg-image" ng-src="{{ card.imageUrl }}" width="85" height="85">
		</a>
	</div>

	<div class="media-body">
		<a class="media-heading lead" href="#/player/{{ card.id }}">{{ card.name }}</a>
		<p>{{ card.location }}</p>
		<h4>
			<span class="label label-primary">
				<i ng-if="card.gender == 'M'" class="fa fa-male"></i>
				<i ng-if="card.gender == 'F'" class="fa fa-female"></i>

				<i ng-repeat="rate in card.rateArray track by $index" class="fa" ng-class="{ 'fa-star': rate, 'fa-star-o': !rate }"></i>
			</span>
		</h4>
	</div>
	</div>
</div>