<div class="search-view">
	<div class="navbar navbar-static-top navbar-inverse">
		<div class="container">
			<p class="navbar-text">Searching withing {{ maxDistance | distance }}</p>
		</div>
	</div>

	<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
		<div ng-show="!searchResults.length" class="well text-center">
			<h4>It doesn't seem to have anything around you.</h4>
			<p>Come back later!</p>
		</div>

		<div ng-show="searchResults.length">
			<div class="list-group">
				<div ng-repeat="card in searchResults" class="list-group-item"><div ng-include="'views/search/_MatchSearchItemView.html'"></div></div>
			</div>
		</div>
	</div>
</div>