<div class="search-view">
	<div class="navbar navbar-static-top navbar-inverse">
		<div class="container">
			<p class="navbar-text navbar-right"><a href="#" class="navbar-link">Searching withing {{ maxDistance | distance }}</a></p>
		</div>
	</div>

	<div class="container">
		<div ng-repeat="card in searchResults" ng-switch="card.type" class="col-sm-6 col-md-3">
			<div ng-switch-when="player"><div ng-include="'views/search/_PlayerSearchItemView.html'"></div></div>
			<div ng-switch-when="venue"><div ng-include="'views/search/_VenueSearchItemView.html'"></div></div>
			<div ng-switch-when="match"><div ng-include="'views/search/_MatchSearchItemView.html'"></div></div>
		</div>
	</div>
</div>