.datetimepicker {
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	direction: ltr;

	table {
		margin: 0;

		td, th {
			text-align: center;
			width: 20px;
			height: 20px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			border: none;
		}

		th.switch {
			width: 145px;
		}
		
		tr td {
			&.minute:hover, 
			&.hour:hover, 
			&.day:hover {
				background: #eeeeee;
				cursor: pointer;
			}

			&.past, 
			&.future {
				color: #999999;
			}

			&.active.active {
				background-color: #5bc0de;
				border-color: #46b8da;
				color: #fff;
			}

			span {
				display: block;
				width: 23%;
				height: 54px;
				line-height: 54px;
				float: left;
				margin: 1%;
				cursor: pointer;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;

				&:hover {
					background: #eeeeee;
				}

				&.active,
				&.active:hover {
					background-color: #5bc0de;
					border-color: #46b8da;
					color: #fff;
				}

				&.hour,
				&.minute {
					height: 26px;
					line-height: 26px;
				}

				&.past,
				&.future {
					color: #999999;
				}
			}
		}
	}

	thead tr:first-child th, 
	tfoot tr:first-child th {
		cursor: pointer;
	}

	thead tr:first-child th:hover, 
	tfoot tr:first-child th:hover {
		background: #eeeeee;
	}
}