.profile-view {
	padding-top: 50px;
		
	.header {
		background-size: cover;
		background-position: 50% 50%;

		display: block;
		padding: 5px;

		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

		p {
			margin: 10px 0;
			color: #fff;

			&.lead {
				margin-bottom: 0;
			}

			&.location {
				margin-top: 0;
			}

			.divider {
				padding: 0 2px;
			}
		}

		h3 {
			margin: 10px 0;
			color: #fff;
			font-weight: bold;
		}

		.img-circle {
			margin: auto;
		}
	}

	&.profile-update-view {
		.header {
			.form-control-name,
			.form-control-location {
				margin: 10px 0;
				background-color: rgba(255, 255, 255, 0.7);
			}
		}

		textarea {
			resize: none;
		}

		.background-tile {
			margin-bottom: 10px;
		}

		.skill-star-icon:hover {
			text-decoration: none;
		}
	}

	// TODO: 
	// - Implement different sizes for different resolutions.
	// - Use `img` tag instead of `div`
	.background {
		&.background-0 { background-image: url('//localhost:3000/images/background_0.jpg'); }
		&.background-1 { background-image: url('//localhost:3000/images/background_1.jpg'); }
		&.background-2 { background-image: url('//localhost:3000/images/background_2.jpg'); }
		&.background-3 { background-image: url('//localhost:3000/images/background_3.jpg'); }
		&.background-4 { background-image: url('//localhost:3000/images/background_4.jpg'); }
		&.background-5 { background-image: url('//localhost:3000/images/background_5.jpg'); }
		&.background-6 { background-image: url('//localhost:3000/images/background_6.jpg'); }
		&.background-7 { background-image: url('//localhost:3000/images/background_7.jpg'); }
		&.background-8 { background-image: url('//localhost:3000/images/background_8.jpg'); }
	}
}