.profile-view {
	.header {
		// Implement different sizes for different resolutions.
		background-image: url('//192.168.20.102:3000/images/background_11.jpg');
		background-size: cover;
		background-position: 50% 50%;

		display: block;
		padding: 5px;

		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

		p {
			margin: 10px 0;
			color: #fff;

			&.lead {
				margin-bottom: 0;
				font-weight: bold;
			}

			&.location {
				margin-top: 0;
			}

			.divider {
				padding: 0 2px;
			}
		}

		h3 {
			margin: 10px 0;
			color: #fff;
			// font-size: 1.3em;
			font-weight: bold;
		}
	}
}