.search-view {
	padding-top: 50px;

	.player-image {
		padding: 1px;
	}

	.player-lg-image {
		margin-right: 15px;
	}

	.media-body {
		p {
			margin: 4px 0;
		}
	}

	.btn-join,
	.btn-leave {
		margin-top: 9px;
		height: 70px;
		width: 70px;
		border-radius: 70px;
	}
}