<div class="venue-create-view">
	<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">

		<div class="media">
			<a class="pull-left" href="/player/{{ AuthenticationService.player.id }}">
				<img class="media-object img-circle" ng-src="{{ AuthenticationService.player.imageUrl }}" width="45" height="45">
			</a>
			<div class="pull-right">
				<button class="btn btn-lg btn-success" ng-click="create(venue)" ng-class="{ 'disabled': !isFormValid }">Create</button>
			</div>
			<div class="media-body">
				<h4 class="media-heading">{{ AuthenticationService.player.name }}</h4>
				<p class="text-muted">{{ AuthenticationService.player.location }}</p>
			</div>
		</div>

		<div class="well well-sm">
			<nav class="navbar navbar-inverse navbar-static navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					<li ng-repeat="tab in tabs" ng-class="{ active: activeTab == $index }">
						<a href="" ng-click="setActiveTab($index)">
							<i ng-repeat="icon in tab.icons" class="fa fa-lg {{ icon }}"></i>
							{{ tab.label }}
						</a>
					</li>
				</ul>
			</nav>

			<div ng-switch on="activeTab">
				<div ng-switch-when="0">
					<input type="text" class="form-control" maxlength="180" placeholder="What will you call this venue?" ng-model="venue.name" focus="activeTab == 0"/>
				</div>
				<div ng-switch-when="1">
					<p class="text-center">{{ venue.location | denoteNull: 'Venue':'Drop the pin where the venue is located.' }}</p>

					<map center-coordinates="currentCoordinates" show-center-marker="false" zoom="14" is-mono-marker="true" marker-click="updateVenue(results, coordinates)"></map>
				</div>
				<div ng-switch-when="2">
					<input type="text" class="form-control" maxlength="180" ng-model="venue.address" focus="activeTab == 2"/>
				</div>
			</div>
		</div>

	</div>
</div>
