<div class="media">
	<div class="pull-left">
		<div class="img-circle img-venue"></div>

		<button ng-if="!hasJoint(match.players)" class="btn btn-success" ng-click="join(match)">Join</button>
		<button ng-if="hasJoint(match.players)" class="btn btn-danger" ng-click="leave(match)">Leave</button>
	</div>

	<div class="media-body">
		<a class="media-heading" href="/match/{{match.id}}">{{match.title}}</a>
		<p><a href="/venue/{{match.venue.id}}">{{match.venue.name}}</a> on {{match.when | date}}</p>
		<p>
			<span>2.5km</span>
			<span> - </span>
			<span ng-show="match.price">{{match.price | currency }}</span>
			<span ng-show="!match.price">Free</span>
		</p>
		<p>
			Going ({{match.players.length}})
			<span ng-if="hasJoint(match.players)">You</span>
			<span ng-repeat="player in match.playersDisplay">
				<a href="/{{player.id}}">{{player.name}}</a>
			</span>
			<span ng-if="match.playersExtra">and others.</span>
		</p>
	</div>
</div>

<hr/>