<div class="panel panel-default" ng-controller="MatchCtrl">
	<div class="panel-body media">
		<div class="media-body">
			<h5 class="media-heading">
				<strong>
					<a href="#/match/{{ card.id }}">{{ card.description }}</a>
				</strong>
			</h5>

			<p>
				<a ng-repeat="player in card.players" class="btn-xs" href="#/player/{{ player.id }}" role="button">
					<img class="img-circle" ng-src="{{ player.imageUrl }}" width="20" height="20">
				</a>
			</p>			

			<p>{{card.when | date}}</p>

			<p>
				<a href="#/venue/{{ card.venue.id }}">{{ card.venue.name }}</a>
				<span>{{ card.distance | distance }}</span>
				<span ng-show="card.price">{{card.price | currency }}</span>
				<span ng-show="!card.price">Free</span>
			</p>

			<p>Attendees: {{ card.players.length }}/{{ card.maxPlayers }}</p>

			<p ng-switch="card.gender">
				Gender: 
				<i ng-switch-when="F" class="fa fa-female"></i>
				<i ng-switch-when="M" class="fa fa-male"></i>
				<span ng-switch-default="">
					<i class="fa fa-female"></i>
					<i class="fa fa-male"></i>
				</span>
			</p>


			<button ng-if="!hasJoint(card.players)" class="btn btn-success" ng-click="join(card)">Join</button>
			<button ng-if="hasJoint(card.players)" class="btn btn-danger" ng-click="leave(card)">Leave</button>
		</div>
	</div>
</div>