<div class="media well">
	<div class="pull-left">
		<div class="img-circle img-venue"></div>

		<button ng-if="!hasJoint(card.players)" class="btn btn-success" ng-click="join(card)">Join</button>
		<button ng-if="hasJoint(card.players)" class="btn btn-danger" ng-click="leave(card)">Leave</button>
	</div>

	<div class="media-body">
		<a class="media-heading" href="#/match/{{card.id}}">{{card.title}}</a>
		<p><a href="#/venue/{{card.venue.id}}">{{card.venue.name}}</a> on {{card.when | date}}</p>
		<p>
			<span>2.5km</span>
			<span> - </span>
			<span ng-show="card.price">{{card.price | currency }}</span>
			<span ng-show="!card.price">Free</span>
		</p>
		<p>
			Going ({{card.players.length}})
			<span ng-if="hasJoint(card.players)">You</span>
			<span ng-repeat="player in card.playersDisplay">
				<a href="/{{player.id}}">{{player.name}}</a>
			</span>
			<span ng-if="card.playersExtra">and others.</span>
		</p>
	</div>
</div>