<div class="media">
	<a class="pull-left" href="#/match/{{match._id}}"><h3>2.5k</h3></a>

	<div class="media-body">
		<h5 class="media-heading">{{match.title}}</h5>
		<p>at {{match.venue.name}} on {{match.when | date}}</p>
		
		<p ng-show="match.price">{{match.price | currency }}</p>
		<p ng-show="!match.price">Free</p>

		<p>
			<span ng-repeat="player in match.players | limitTo: 3">
				<a href="#/{{player._id}}">{{player.name}}</a>
			</span>
		</p>

		<input ng-if="!hasJoint(match.players)" type="button" class="btn btn-success" value="Join" ng-click="join(match)">
		<input ng-if="hasJoint(match.players)" type="button" class="btn btn-danger" value="Leave" ng-click="leave(match)">
	</div>
</div>

<hr/>