<!-- <div ng-if="!AuthenticationModel.isSignedIn()" class="navbar navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/feed">Football94</a>
  </div>
</div> -->

<video poster="" autoplay>
	<!-- <source src='football.webm' type='video/webm'/> -->
	<!-- <source src='football.ogv' type='video/ogg'/> -->
	<source src='videos/football_encoded.mp4' type='video/mp4'/>
</video>

<div class="jumbotron">
	<h1>Hello</h1>
	<p>Welcome to Football94</p>

	<a href="/auth/signin" class="btn btn-primary">Sign in</a>
	<a href="/auth/signup" class="btn btn-primary">Sign up</a>
</div>