<h1 ng-init="getCollection()">Match listing</h1>

<table class="table">
	<thead>
		<tr>
			<th>Venue</th>
			<th>Players</th>
			<th>Join</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="match in MatchModel.collection">
			<td>
				<a href="#/match/{{match._id}}">{{match.venue.name}}</a>
			</td>
			<td>
				<p ng-repeat="player in match.players">{{player.name}}</p>
			</td>
			<td>
				<input ng-if="!hasJoint(match.players)" type="button" class="btn btn-success" value="Join" ng-click="join(match)">
				<input ng-if="hasJoint(match.players)" type="button" class="btn btn-danger" value="Leave" ng-click="leave(match)">
			</td>
		</tr>
	</tbody>
</table>