<div class="navbar navbar-static-top navbar-inverse" bs-navbar>
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Football94</a>
      
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav">
          <li ng-if="!AuthenticationModel.isSignedIn" data-match-route="/"><a href="#/">Home</a></li>
          <li ng-if="AuthenticationModel.isSignedIn" data-match-route="/player.*"><a href="#/player">Players</a></li>
          <li ng-if="AuthenticationModel.isSignedIn" data-match-route="/venue.*"><a href="#/venue">Venues</a></li>
          <li ng-if="AuthenticationModel.isSignedIn" data-match-route="/match.*"><a href="#/match">Matches</a></li>
        </ul>

        <div ng-if="!AuthenticationModel.isSignedIn" class="nav pull-right">
          <a href="#/signin" class="btn" ng-click="signIn()">Sign in</a>
          <a href="#/signup" class="btn btn-success" ng-click="signUp()">Sign up</a>
        </div>

        <div ng-if="AuthenticationModel.isSignedIn" class="nav pull-right">
          <button class="btn btn-primary" ng-click="signOut()">Sign out</button>
        </div>
      </div>
    </div>
  </div>
</div>