<div ng-if="!AuthenticationModel.isSignedIn()" class="navbar navbar-static-top navbar-inverse" bs-navbar>
  <div class="navbar-inner">
    <a href="#" class="brand pull-left"><i class="icon-angle-left"></i> Sign up</a>
  </div>
</div>

<form class="form-horizontal" ng-submit="signUp(username, password, name, email)" ng-init="clear()">

  <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
      <input type="text" id="inputName" placeholder="Name" ng-model="name" required>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="email" id="inputEmail" placeholder="Email" ng-model="email" required>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputUsername">Username</label>
    <div class="controls">
      <input type="text" id="inputUsername" placeholder="Username" ng-model="username" required>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password" ng-model="password" required>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-success btn-block">Sign up</button>
    </div>
  </div>  

  <div class="control-group">
    <div class="controls">
      <div ng-if="AuthenticationModel.errorStatus" ng-switch="AuthenticationModel.errorStatus" class="alert alert-error">
        <span ng-switch-when="400">User or email address already taken.</span>
      </div>
    </div>
  </div>

</form>