<div ng-if="!AuthenticationModel.isSignedIn()" class="navbar navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="">Sign in</a>
  </div>
</div>

<hr/>

<form class="form-horizontal col-lg-10" ng-submit="signIn(username, password)" ng-init="clear()">
  <div class="row">
    <label for="inputUsername" class="col-lg-2 control-label">Username</label>
    <div class="col-lg-10">
      <input type="text" id="inputUsername" placeholder="Username" ng-model="username">
    </div>
  </div>
  
  <div class="row">
    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
    <div class="col-lg-10">
      <input type="password" id="inputPassword" placeholder="Password" ng-model="password">
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-10 col-offset-2">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
    
  <div ng-if="AuthenticationModel.errorStatus" ng-switch="AuthenticationModel.errorStatus" class="col-lg-10 col-offset-2 alert alert-danger">
    <span ng-switch-when="400">Incorrect username or password.</span>
  </div>
</form>


<div class="clearfix"></div>
<hr/>
<div class="well">
  <p>Or sign in with</p>
  
  <div class="btn-group">
    <button class="btn btn-primary" ng-click="signInFacebookRequestToken()">Facebook</button>
    <button class="btn btn-primary" ng-click="">Twitter</button>
    <button class="btn btn-primary" ng-click="">Google+</button>
  </div>
</div>