<div class="profile-view">
	<div class="header text-center">
		<input type="text" class="form-control text-center" ng-model="PlayerModel.player.name"/>
		<img class="img-circle" ng-src="{{ PlayerModel.player.imageUrl }}" width="90" height="90">
		<input type="text" class="form-control text-center" ng-model="PlayerModel.player.location"/>
	</div>
	
	<div class="navbar navbar-static-top navbar-inverse">
		<div class="container">
			<ul class="nav navbar-nav nav-center">
				<li><button class="btn btn-success navbar-btn">Finish editing</button></li>
			</ul>
		</div>
	</div>

	<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
		<form role="form">
			<div class="form-group">
				<label for="inputBio">Bio</label>
				<textarea id="inputBio" class="form-control" placeholder="Rocket ship builder, pizza expert, loves football, parent." ng-model="PlayerModel.player.bio"></textarea>
			</div>

			<div class="form-group">
				<label for="inputEmail">Email address</label>
				<input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="PlayerModel.player.email"/>
			</div>

			<div class="form-group">
				<label for="inputGender">Gender</label>
				<p>
					<span class="btn-group">
						<button class="btn btn-info" ng-click="gender = 'M'" ng-class="{ active: gender == 'M' }">Male</button>
						<button class="btn btn-info" ng-click="gender = 'F'" ng-class="{ active: gender == 'F' }">Female</button>
					</span>
				</p>
			</div>

			<div class="form-group">
				<label for="inputRate">Rate</label>
				<p>
					<i ng-repeat="rate in PlayerModel.player.rateArray track by $index" class="fa fa-lg" ng-class="{ 'fa-star': rate, 'fa-star-o': !rate }"></i>
				</p>
			</div>


			<div class="form-group">
				<label>Background</label>
				<div class="row">
					<div class="col-sm-6 col-xs-6"><img src="//localhost:3000/images/background_01.jpg" width="100%"/></div>
					<div class="col-sm-6 col-xs-6"><img src="//localhost:3000/images/background_02.jpg" width="100%"/></div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xs-6"><img src="//localhost:3000/images/background_03.jpg" width="100%"/></div>
					<div class="col-sm-6 col-xs-6"><img src="//localhost:3000/images/background_04.jpg" width="100%"/></div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xs-6"><img src="//localhost:3000/images/background_07.jpg" width="100%"/></div>
					<div class="col-sm-6 col-xs-6"><img src="//localhost:3000/images/background_06.jpg" width="100%"/></div>
				</div>
			</div>	
		</form>
	</div>
</div>