<div class="profile-view profile-update-view">
	<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="" carousel model="player.backgroundImageId">
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div ng-repeat="id in [0, 1, 2, 3, 4, 5, 6, 7, 8]" class="item" ng-class="{ active: id == player.backgroundImageId }">
				<div class="background background-{{ id }}"></div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
		<a class="right carousel-control" href="" data-slide="next"><span class="fa fa-chevron-right"></span></a>
	</div>

	<div class="header text-center">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
				<input type="text" class="form-control text-center form-control-name" ng-model="player.name"/>
				<img class="img-circle" ng-src="{{ player.imageUrl }}" width="90" height="90">
				<input type="text" class="form-control text-center form-control-location" ng-model="player.location"/>
			</div>
		</div>
	</div>
	
	<div class="navbar navbar-static-top navbar-inverse">
		<div class="container">
			<ul class="nav navbar-nav nav-center">
				<li><button class="btn btn-primary navbar-btn" ng-click="update(player)">Finish updating</button></li>
			</ul>
		</div>
	</div>

	<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
		<form role="form">
			<div class="form-group">
				<label for="inputBio">Bio</label>
				<textarea id="inputBio" class="form-control" rows="3" placeholder="Rocket ship builder, pizza expert, loves football, parent." ng-model="player.bio"></textarea>
			</div>

			<div class="form-group">
				<label for="inputEmail">Email address</label>
				<input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="player.email"/>
			</div>

			<div class="form-group">
				<label for="inputGender">Gender</label>
				<p>
					<span class="btn-group">
						<button class="btn btn-default" ng-click="player.gender = 'M'" ng-class="{ active: player.gender == 'M' }">Male</button>
						<button class="btn btn-default" ng-click="player.gender = 'F'" ng-class="{ active: player.gender == 'F' }">Female</button>
					</span>
				</p>
			</div>

			<div class="form-group">
				<label for="inputRate">Skills</label>
				<p>
					<a href="" class="btn-link skill-star-icon" ng-repeat="rate in player.rateArray track by $index" ng-click="updateRate($index + 1)">
						<i class="fa fa-lg" ng-class="{ 'fa-star': rate, 'fa-star-o': !rate }"></i>
					</a>
				</p>
			</div>
		</form>
	</div>
</div>