<div ng-controller="FeedCtrl" class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
	<div ng-show="!FeedModel.feeds.length" class="well text-center">
		<h4>No notifications.</h4>
		<p>Come back later!</p>
	</div>

	<div ng-show="FeedModel.feeds">
		<p>
			<button class="btn btn-primary" ng-click="markAllAsRead()">
				Mark everything as read
			</button>
		</p>

		<div class="list-group">
			<div ng-repeat="feed in FeedModel.feeds" ng-switch="feed.type" class="list-group-item" ng-class="{ 'list-group-item-unread': !feed.meta.readAt }">
				<div ng-switch-when="player"><div ng-include="'/views/feed/_PlayerFeedItemView.html'"></div></div>
				<div ng-switch-when="match"><div ng-include="'/views/feed/_MatchFeedItemView.html'"></div></div>
				<div ng-switch-when="venue"><div ng-include="'/views/feed/_VenueFeedItemView.html'"></div></div>
			</div>
		</div>
	</div>
</div>
