<div ng-controller="FeedCtrl" class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
	<div ng-show="!FeedService.feeds.length" class="well text-center">
		<h4>No notifications.</h4>
		<p>Come back later!</p>
	</div>

	<div ng-show="FeedService.feeds">
		<p>
			<button class="btn btn-primary" ng-click="markAllAsRead()"><i class="fa fa-check-circle"></i> Mark everything as read</button>
		</p>

		<div class="list-group">
			<div ng-repeat="feed in FeedService.feeds" ng-switch="feed.type" class="list-group-item" ng-class="{ 'list-group-item-unread': !feed.meta.readAt }">
				<div ng-switch-when="game"><div ng-include="'views/feed/_GameFeedItemView.html'"></div></div>
			</div>
		</div>
	</div>
</div>
