<div class="media">
	<div class="pull-left">
		<a href="/player/{{ feed.meta.createdBy.id }}">
			<img class="img-rounded" ng-src="{{ feed.meta.createdBy.imageUrl }}" width="30" height="30">
		</a>
	</div>

	<div class="pull-right">
		<a href="" ng-click="markAsRead(feed)" role="button">
			<i ng-if="!feed.meta.readAt" class="fa fa-lg fa-check"></i>
		</a>
	</div>

	<div class="media-body">
		<p>
			<strong>{{ feed.meta.createdBy.name }}</strong> {{ feed.action }} <a href="/game/{{ feed.game.id }}">{{ feed.game.description }}</a> {{ feed.meta.createdAt | momentRelative }}
		</p>
	</div>
</div>